Secret Keys - THIS IS THE MOST IMPORTANT PART

This file contains all your Firebase/Supabase passwords

.env

Dependencies

These folders can be re-downloaded by running "npm install"

node_modules/
functions/node_modules/

Build output

dist/
build/

Firebase

These files are for your local setup only

.firebase/
firebase-debug.log